.modal {
  &-action {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    &__button {
      width: 272px;
      height: 43px;
      text-transform: capitalize;
      font-size: 16px;
      font-family: Gilroy-Medium;
    }
  }
}
