.modal {
  &__description {
    &-items {
      display: flex;
      height: 45px;
      border-bottom: 1px solid rgba(112, 112, 112, 0.25);
      margin-top: 30px;
      color: #616161;
      list-style-type: none;
    }
    &-item {
      color: #616161;
      cursor: pointer;
      border-bottom: 1px solid #3b3b3b;
    }
  }
}
