.modal {
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    line-height: 1.63;
    color: rgba(112, 112, 112, 0.7);
    font-size: 16px;
    &-item {
      &--supplier {
        color: #82dee5;
        font-family: Gilroy-bold;
        cursor: pointer;
        &::before {
          content: " ";
        }
      }
      &--copy {
        cursor: pointer;
        margin-left: 10px;
        font-family: Gilroy-Regular;
        text-transform: uppercase;
        font-size: 15px;
      }
    }
  }
}
@media (max-width: 500px) {
  .modal {
    &__header {
      flex-direction: column;
    }
  }
}
