.modal {
  &__description {
    &-info {
      margin-top: 10px;
      padding-right: 15px;
      font-size: 16px;
      line-height: 1.63;
      text-align: left;
      color: #707070;
      word-wrap: break-word;
    }
  }
}
