.modal {
  &__close {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    align-items: center;
    position: absolute;
    &-img {
      color: #4e4e4e;
      cursor: pointer;
    }
  }
}
@media (max-width: 900px) {
  .modal {
    &__close {
      top: 14px;
      right: 40px;
    }
  }
}
