@import "./modalClose";
@import "./modalHeader";
@import "./modalTitle";
@import "./modalDescription";
@import "./modalAddButton";
@import "./modalMenu";

.modal {
  &__overview {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  }
  &-modal {
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }
  &__info {
    padding: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 900px) {
  .modal {
    &__overview {
      width: 100%;
    }
  }
}
