.modal {
  &-title {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.09;
    text-align: left;
    color: #3b3b3b;
    margin: 10px 0 20px;
    word-wrap: break-word;
    font-family: Gilroy-Bold;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 60px;
    text-transform: capitalize;
  }
}
