.nav {
  &__header {
    &-help {
      cursor: pointer;
      &::after {
        width: 48px;
        content: url(../assets/questionmark.png);
      }
    }
    &-burger {
      display: none;
      margin-left: 20px;
      cursor: pointer;
      &::after {
        width: 48px;
        content: url(../assets/burger.png);
      }
    }
  }
}
@media (max-width: 500px) {
  .nav {
    &__header {
      &-burger {
        margin: unset;
      }
    }
  }
}
@media (max-width: 975px) {
  .nav {
    &__header {
      &-help {
        display: none;
      }
    }
  }
}
@media (max-width: 1250px) {
  .nav {
    &__header {
      &-burger {
        display: inline-block;
      }
    }
  }
}
