@import "./navBarRightButton";
@import "./navRightMenu";

.nav {
  &__header {
    &-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      flex: 2 1;
      padding-left: 10px;
    }
  }
}
