@media (max-width: 675px) {
  .nav {
    &__header {
      &-button {
        &--right {
          width: 48px;
          word-spacing: 15px;
          overflow: hidden;
          padding-left: 13px;
        }
      }
    }
  }
}
