*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
  font-family: Gilroy-Medium;
}

nav {
  padding: 0 7px;
}

a {
  text-decoration: none;
  color: inherit;
}

[class*="button"] {
  font-family: Gilroy-Bold;
  border-radius: 5px;
  background-color: #61d5df;
  border: 0;
  color: #ffffff;
  padding: 0 14px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}
[class*="separator"] {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  width: 1.5px;
  height: 28px;
  background-color: #fff;
  opacity: 1;
}

@media (max-width: 1275px) {
  [class*="button"] {
    font-size: 10px;
  }
}
