@import "./productheader";
@import "./productbody";
@import "./productfooter";

.catalog {
  &__item {
    border: 2px solid #e4e5ec;
    text-align: justify;
    border-radius: 8px;
    width: calc(100% / 4 - 20px);
    margin: 0 10px 25px;
    display: flex;
    max-width: 368px;
    max-height: 473px;
    flex-flow: column nowrap;
    cursor: pointer;
    flex: 1 1 302px;
    overflow: hidden;
    &--active {
      border: 2px solid #61d4df;
    }
    &:hover {
      border: 2px solid #61d4df;
      & .catalog__checkbox-item--custom,
      .catalog__header-button {
        opacity: 1;
      }
    }
  }
}
