.catalog {
  &__item {
    &-title {
      font-size: 14px;
      padding: 15px 20px 20px;
      height: 52px;
      overflow: hidden;
      background-color: #ffffff;
      font-family: Gilroy-Regular;
      font-weight: 600;
      text-overflow: ellipsis;
      text-transform: uppercase;

      span {
        width: 100%;
        overflow: hidden;
        color: #3b3b3b;
      }
    }
    &-details {
      background-color: #ffffff;
      padding: 5px 0 0 20px;
      font-size: 15px;
      & span {
        color: #8c8c8c;
        &:last-child {
          font-size: 16px;
          color: #58c3cc;
          text-decoration: underline;
        }
      }
    }
  }
  &__values {
    background-color: #ffffff;
    padding: 30px 20px 20px;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    text-transform: uppercase;
    align-items: center;
  }

  &__value-list {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    &--profit {
      margin: 0 20px;
      & .catalog__value-item--number {
        color: #5fc5ce;
      }
    }
  }
  &__value {
    &-item {
      &--number {
        font-size: 20px;
        color: #616161;
      }
      &--text {
        font-size: 16px;
        color: #afafaf;
      }
    }
    &-separator {
      background-color: #f0e4e4;
      height: 15px;
      width: 1px;
      margin: 0 -10px;
      &--price {
        margin-right: 10px;
      }
    }
  }
}
