.catalog {
  &__item {
    &-header {
      max-height: 24px;
      padding: 13px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      opacity: 1;
      z-index: 1;
    }
  }
  &__header {
    background-color: #fbfbfb;
    &-button {
      width: 154px;
      height: 38px;
      padding: 4px 8px;
      opacity: 0;
    }
  }
}
