.catalog {
  &__photo {
    width: 288px;
    height: 308px;
    padding: 10px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-self: center;
    & img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}
