.sidebar {
  &__slider {
    margin: 15px;
    &-title {
      margin-bottom: 5px;
      display: block;
      font-size: 12px;
      font-weight: 600;
      color: #323949;
      text-transform: uppercase;
    }
    input {
      height: 4px;
      width: 100%;
      background: none;
    }
    &-item {
      margin-bottom: 20px;
    }
  }
  &__value {
    &-item {
      padding: 0 4px;
      height: 26px;
      background-color: #fff;
      border-radius: 0 2px 2px 0;
      color: #65737e;
      font-size: 13px;
      margin-top: 8px;
    }
  }
  &__value {
    margin-top: 8px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    &-item {
      display: inline-flex;
      padding: 0 4px;
      height: 26px;
      background-color: #fff;
      justify-content: center;
      align-items: center;
      &--type {
        height: 28px;
        width: 19px;
        color: rgba(101, 115, 126, 0.5);
        border-radius: 2px 0 0 2px;
        border: 1px solid #ecedf5;
      }
      &--min,
      &--max {
        color: #65737e;
        min-width: 36px;
        padding: 0 4px;
        border-radius: 0 2px 2px 0;
      }
    }
  }
}
