.catalog {
  display: flex;
  padding: 20px;
  flex-flow: row wrap;
  height: calc(100vh - 120px);
  overflow: auto;
  width: 100%;
  align-content: flex-start;
}
@media (max-width: 962px) {
  .catalog {
    justify-content: center;
  }
}
