.sidebar {
  &__select {
    padding: 0 13px 0 12px;
  }
  select {
    font-size: 14px;
    font-weight: 500;
    color: #29304b;
    padding: 12px;
    text-transform: capitalize;
    width: 100%;
    border: 0;
    border-radius: 5px;
    margin: 8px 0;
    cursor: pointer;
  }
}
