@import "./NavBarLeft/navBarLeft";
@import "./NavBarRight/navBarRight";

.nav {
  &__header {
    font-family: Gilroy-Regular;
    font-weight: 600;
    padding: 0 100px 0 50px;
    width: 100%;
    height: 73px;
    display: flex;
    align-items: center;
    &-button {
      height: 32px;

      &--right {
        height: 40px;
      }
    }
  }
}
@media (max-width: 1275px) {
  .nav {
    &__header {
      padding: 0 25px;
    }
  }
}
