.header {
  padding-top: 28px;
  background-color: #fff;
  overflow: hidden;
  &__logo {
    display: flex;
    justify-content: center;
    padding: 0 7px 23.7px;
    border-bottom: 1px solid #dde3ee;
    cursor: pointer;
  }
}
