.sidebar {
  &__dropdown {
    &-title {
      &--niche {
        background-color: #5d6b9f;
        height: 52px;
        font-size: 15px;
        font-weight: 600;
        line-height: 1.73;
        color: #fff;
        padding-left: 20px;
        font-family: Gilroy-Bold;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: capitalize;
      }
    }
    &-arrow {
      border: solid #fff;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      margin-right: 20px;
      &--toggled {
        transform: rotate(225deg);
      }
    }
  }
}
.niche {
  &-list {
    list-style-type: none;
    &__item {
      cursor: pointer;
      padding: 10px 35px;
      color: #49547d;
      font-size: 15px;
      font-weight: 700;
      text-transform: capitalize;
      font-family: Gilroy-Regular;
      &:hover {
        background-color: rgba(71, 100, 215, 0.1);
      }
      &--active {
        display: block;
      }
      &--hidden {
        display: none;
      }
    }
  }
}
