@import "./modalLeftSide/modalLeftSide";
@import "./modalRightSide/modalRight";

.modal {
  &-wrapper {
    width: 100%;
    height: 100%;
    background: rgba(0, 14, 70, 0.7);
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 99999;
  }
  &-window {
    max-width: calc(100% - 20px);
    width: 1163px;
    height: 691px;
    border-radius: 8px;
    display: flex;
    padding: 2px;
    background: #fbfbfb;
  }
}

@media (max-width: 900px) {
  .modal {
    &-wrapper {
      padding: 10px;
    }
    &-window {
      flex-direction: column;
      width: 100%;
      height: 100%;
      align-items: center;
      overflow: auto;
    }
  }
}
