.header {
  nav {
    padding: 0px;
  }
  .nav {
    &__profile {
      height: 40px;
      width: 54px;
      margin-right: 16px;
      margin-left: -4px;
    }
  }
  .menu {
    height: 100%;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__item {
      width: 53px;
      height: 42px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      &:hover {
        color: #61d5df;
      }
      & img {
        width: 21px;
        height: 20px;
        cursor: pointer;
        &:hover {
          color: #61d5df;
        }
      }
      &--profile {
        width: 30px;
        height: 32px;
        border-radius: 50%;
        overflow: hidden;
        text-indent: 0;
        background-image: linear-gradient(147deg, #61d5df -3%, #61d5df 101%);
        padding: 1px;
        margin-left: -3px;
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
          border: 2px solid #fff;
        }
      }
      &--dashboard {
        & img {
          height: 12px;
        }
      }
      &--catalog {
        & img {
          height: 15px;
        }
      }
    }
  }
}
