.nav {
  &__sort {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 47px;
    width: 100%;
    padding: 0 50px;
    border-bottom: 1px solid #dbe0f3;
    background-color: #ffffff;
    &-text {
      color: #cac7c7;
      font-size: 14px;
      &--dropship {
        height: 28px;
        &::before {
          content: url(../assets/dropship.png);
          object-fit: contain;
        }
      }
    }
    &-list {
      margin-left: 8px;
      background-color: #ffffff;
      color: #cac7c7;
      padding: 3px;
      border: 0;
      appearance: none;
      font-size: 14px;
    }

    & option {
      color: #2b353f;
    }
  }
}
@media (max-width: 900px) {
  .nav {
    &__sort {
      justify-content: center;
    }
  }
}
