*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f8f9fa;
  font-family: Gilroy-Medium; }

nav {
  padding: 0 7px; }

a {
  text-decoration: none;
  color: inherit; }

[class*="button"] {
  font-family: Gilroy-Bold;
  border-radius: 5px;
  background-color: #61d5df;
  border: 0;
  color: #ffffff;
  padding: 0 14px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap; }

[class*="separator"] {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  width: 1.5px;
  height: 28px;
  background-color: #fff;
  opacity: 1; }

@media (max-width: 1275px) {
  [class*="button"] {
    font-size: 10px; } }

.header {
  padding-top: 28px;
  background-color: #fff;
  overflow: hidden; }
  .header__logo {
    display: flex;
    justify-content: center;
    padding: 0 7px 23.7px;
    border-bottom: 1px solid #dde3ee;
    cursor: pointer; }

.header nav {
  padding: 0px; }

.header .nav__profile {
  height: 40px;
  width: 54px;
  margin-right: 16px;
  margin-left: -4px; }

.header .menu {
  height: 100%;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .header .menu__item {
    width: 53px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center; }
    .header .menu__item:hover {
      color: #61d5df; }
    .header .menu__item img {
      width: 21px;
      height: 20px;
      cursor: pointer; }
      .header .menu__item img:hover {
        color: #61d5df; }
    .header .menu__item--profile {
      width: 30px;
      height: 32px;
      border-radius: 50%;
      overflow: hidden;
      text-indent: 0;
      background-image: linear-gradient(147deg, #61d5df -3%, #61d5df 101%);
      padding: 1px;
      margin-left: -3px; }
      .header .menu__item--profile img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid #fff; }
    .header .menu__item--dashboard img {
      height: 12px; }
    .header .menu__item--catalog img {
      height: 15px; }

.main {
  width: 100%;
  height: 100%; }

.product-catalog {
  display: flex;
  width: 100%;
  height: 100%; }

.catalog {
  display: flex;
  padding: 20px;
  flex-flow: row wrap;
  height: calc(100vh - 120px);
  overflow: auto;
  width: 100%;
  align-content: flex-start; }

@media (max-width: 962px) {
  .catalog {
    justify-content: center; } }

@media (max-width: 1275px) {
  .nav__header {
    padding: 0 25px; }
    .nav__header-clearAll {
      display: none; } }

.nav__header-filter {
  align-self: center; }
  .nav__header-filterIco {
    cursor: pointer;
    height: 40px; }

.nav__header-text {
  color: #29304b;
  font-size: 12px;
  margin: 2px; }
  .nav__header-text--separator {
    width: 1px;
    height: 23px;
    opacity: 0.3;
    background-color: #979797; }

@media (max-width: 500px) {
  .nav__header-text {
    display: none; } }

@media (max-width: 675px) {
  .nav__header-text {
    align-self: center; } }

@media (max-width: 1150px) {
  .nav__header-text--number {
    display: none; }
  .nav__header-text--hide {
    display: none; }
  .nav__header-text--separator {
    display: none; } }

.nav__header-selectIco {
  display: none;
  cursor: pointer; }

@media (max-width: 1150px) {
  .nav__header-selectAll {
    display: none; }
  .nav__header-selectIco {
    display: inline-block;
    height: 33px;
    align-self: center; } }

@media (max-width: 500px) {
  .nav__header-selectIco {
    width: 40px;
    height: 40px; } }

.nav__header-left {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  height: 40px; }

@media (max-width: 500px) {
  .nav__header-left {
    gap: 10px; } }

@media (max-width: 675px) {
  .nav__header-left {
    align-items: unset; } }

@media (max-width: 675px) {
  .nav__header-button--right {
    width: 48px;
    word-spacing: 15px;
    overflow: hidden;
    padding-left: 13px; } }

.nav__header-help {
  cursor: pointer; }
  .nav__header-help::after {
    width: 48px;
    content: url(../assets/questionmark.png); }

.nav__header-burger {
  display: none;
  margin-left: 20px;
  cursor: pointer; }
  .nav__header-burger::after {
    width: 48px;
    content: url(../assets/burger.png); }

@media (max-width: 500px) {
  .nav__header-burger {
    margin: unset; } }

@media (max-width: 975px) {
  .nav__header-help {
    display: none; } }

@media (max-width: 1250px) {
  .nav__header-burger {
    display: inline-block; } }

.nav__header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex: 2 1;
  padding-left: 10px; }

.nav__header {
  font-family: Gilroy-Regular;
  font-weight: 600;
  padding: 0 100px 0 50px;
  width: 100%;
  height: 73px;
  display: flex;
  align-items: center; }
  .nav__header-button {
    height: 32px; }
    .nav__header-button--right {
      height: 40px; }

@media (max-width: 1275px) {
  .nav__header {
    padding: 0 25px; } }

.nav__search {
  max-width: 480px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%; }
  .nav__search-form {
    width: 100%;
    display: flex;
    justify-content: flex-end; }
  .nav__search-querry {
    padding: 0 16px;
    width: 100%;
    height: 100%;
    border: 1px solid #efeff1;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    outline: none;
    border-right: 0; }
    .nav__search-querry--show {
      display: inline-block !important; }
  .nav__search-image {
    padding: 8px;
    background-color: white;
    cursor: pointer;
    border: 1px solid #efeff1; }
    .nav__search-image--bar {
      border-left: 0;
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px; }
    .nav__search-image--cross {
      border-left: 0;
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px;
      max-height: 40px;
      max-width: 40px; }
    .nav__search-image--toggle {
      height: 40px;
      border-radius: 5px;
      display: none; }

@media (max-width: 675px) {
  .nav__search {
    width: 100%; }
    .nav__search-image {
      background-color: unset; }
    .nav__search-querry {
      display: none; }
    .nav__search-image--bar {
      display: none; }
    .nav__search-image--toggle {
      display: inline-block; }
    .nav__search-image--cross {
      background-color: #ffffff;
      padding: 12px; } }

.sidebar__dropdown-title--niche {
  background-color: #5d6b9f;
  height: 52px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.73;
  color: #fff;
  padding-left: 20px;
  font-family: Gilroy-Bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize; }

.sidebar__dropdown-arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  margin-right: 20px; }
  .sidebar__dropdown-arrow--toggled {
    transform: rotate(225deg); }

.niche-list {
  list-style-type: none; }
  .niche-list__item {
    cursor: pointer;
    padding: 10px 35px;
    color: #49547d;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    font-family: Gilroy-Regular; }
    .niche-list__item:hover {
      background-color: rgba(71, 100, 215, 0.1); }
    .niche-list__item--active {
      display: block; }
    .niche-list__item--hidden {
      display: none; }

.sidebar__dropdown-title--category {
  background-color: #9da9d5;
  height: 52px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.73;
  color: #fff;
  padding-left: 20px;
  font-family: Gilroy-Bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px; }

.sidebar__dropdown-arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  margin-right: 20px; }
  .sidebar__dropdown-arrow--toggled {
    transform: rotate(225deg); }

.sidebar__dropdown-categories {
  cursor: pointer;
  padding: 10px 35px;
  color: #49547d;
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: Gilroy-Regular; }
  .sidebar__dropdown-categories:hover {
    background-color: rgba(71, 100, 215, 0.1); }
  .sidebar__dropdown-categories--active {
    display: block; }
  .sidebar__dropdown-categories--hidden {
    display: none; }

.sidebar__select {
  padding: 0 13px 0 12px; }

.sidebar select {
  font-size: 14px;
  font-weight: 500;
  color: #29304b;
  padding: 12px;
  text-transform: capitalize;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 8px 0;
  cursor: pointer; }

.sidebar__slider {
  margin: 15px; }
  .sidebar__slider-title {
    margin-bottom: 5px;
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: #323949;
    text-transform: uppercase; }
  .sidebar__slider input {
    height: 4px;
    width: 100%;
    background: none; }
  .sidebar__slider-item {
    margin-bottom: 20px; }

.sidebar__value-item {
  padding: 0 4px;
  height: 26px;
  background-color: #fff;
  border-radius: 0 2px 2px 0;
  color: #65737e;
  font-size: 13px;
  margin-top: 8px; }

.sidebar__value {
  margin-top: 8px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }
  .sidebar__value-item {
    display: inline-flex;
    padding: 0 4px;
    height: 26px;
    background-color: #fff;
    justify-content: center;
    align-items: center; }
    .sidebar__value-item--type {
      height: 28px;
      width: 19px;
      color: rgba(101, 115, 126, 0.5);
      border-radius: 2px 0 0 2px;
      border: 1px solid #ecedf5; }
    .sidebar__value-item--min, .sidebar__value-item--max {
      color: #65737e;
      min-width: 36px;
      padding: 0 4px;
      border-radius: 0 2px 2px 0; }

.sidebar {
  height: 100%;
  min-width: 257px;
  background-color: #ecedf5;
  margin-bottom: 20px; }
  .sidebar-reset {
    padding: 0 13px 0 12px; }
    .sidebar-reset__button {
      height: 41px;
      width: 100%;
      display: block;
      background: #61d5df;
      color: #fff;
      text-align: center;
      border-radius: 4px;
      font-size: 13px;
      padding: 10px 0;
      cursor: pointer;
      text-transform: uppercase;
      outline: 0; }
  .sidebar-back {
    margin: 25px 0;
    padding: 0 13px 0 12px; }
    .sidebar-back__button {
      height: 41px;
      width: 100%;
      display: block;
      background: #49547d;
      color: #fff;
      text-align: center;
      border-radius: 4px;
      font-size: 13px;
      padding: 10px 0;
      cursor: pointer;
      text-transform: uppercase;
      outline: 0; }

.nav__sort {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 47px;
  width: 100%;
  padding: 0 50px;
  border-bottom: 1px solid #dbe0f3;
  background-color: #ffffff; }
  .nav__sort-text {
    color: #cac7c7;
    font-size: 14px; }
    .nav__sort-text--dropship {
      height: 28px; }
      .nav__sort-text--dropship::before {
        content: url(../assets/dropship.png);
        object-fit: contain; }
  .nav__sort-list {
    margin-left: 8px;
    background-color: #ffffff;
    color: #cac7c7;
    padding: 3px;
    border: 0;
    appearance: none;
    font-size: 14px; }
  .nav__sort option {
    color: #2b353f; }

@media (max-width: 900px) {
  .nav__sort {
    justify-content: center; } }

.modal-value {
  width: 419px;
  height: 66px;
  padding: 9.3px 29px 8.3px 20px;
  border-radius: 7px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  border: 1.5px solid #fff;
  background: #fafafa;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase; }
  .modal-value__list {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column; }
    .modal-value__list--profit .modal-value__item--number {
      color: #5fc5ce; }
  .modal-value__item--number {
    font-size: 20px;
    color: #616161; }
  .modal-value__item--text {
    font-size: 16px;
    color: #afafaf; }
  .modal-value__separator {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    width: 1.5px;
    height: 28px;
    background: #fff;
    opacity: 1; }

@media (max-width: 900px) {
  .modal-value {
    width: 100%; } }

.modal__image {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 335px;
  max-width: 335px;
  margin-top: 25px; }
  .modal__image img {
    width: 100%;
    max-height: 100%;
    object-fit: contain; }

.modal-gallery {
  display: flex;
  height: 94px;
  width: 100%;
  list-style-type: none; }
  .modal-gallery__item {
    display: flex;
    align-items: center; }
    .modal-gallery__item:hover {
      border-radius: 4px;
      box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.08);
      background-color: #fff; }
    .modal-gallery__item img {
      height: 72px;
      width: 72px;
      object-fit: contain; }

.modal-view {
  width: 499px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbfbfb;
  justify-content: space-between; }

@media (max-width: 900px) {
  .modal-view {
    width: 100%; }
  .modal__value {
    width: 100%; } }

.modal__close {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  align-items: center;
  position: absolute; }
  .modal__close-img {
    color: #4e4e4e;
    cursor: pointer; }

@media (max-width: 900px) {
  .modal__close {
    top: 14px;
    right: 40px; } }

.modal__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  line-height: 1.63;
  color: rgba(112, 112, 112, 0.7);
  font-size: 16px; }
  .modal__header-item--supplier {
    color: #82dee5;
    font-family: Gilroy-bold;
    cursor: pointer; }
    .modal__header-item--supplier::before {
      content: " "; }
  .modal__header-item--copy {
    cursor: pointer;
    margin-left: 10px;
    font-family: Gilroy-Regular;
    text-transform: uppercase;
    font-size: 15px; }

@media (max-width: 500px) {
  .modal__header {
    flex-direction: column; } }

.modal-title {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.09;
  text-align: left;
  color: #3b3b3b;
  margin: 10px 0 20px;
  word-wrap: break-word;
  font-family: Gilroy-Bold;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 60px;
  text-transform: capitalize; }

.modal__description-info {
  margin-top: 10px;
  padding-right: 15px;
  font-size: 16px;
  line-height: 1.63;
  text-align: left;
  color: #707070;
  word-wrap: break-word; }

.modal-action {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0; }
  .modal-action__button {
    width: 272px;
    height: 43px;
    text-transform: capitalize;
    font-size: 16px;
    font-family: Gilroy-Medium; }

.modal__description-items {
  display: flex;
  height: 45px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.25);
  margin-top: 30px;
  color: #616161;
  list-style-type: none; }

.modal__description-item {
  color: #616161;
  cursor: pointer;
  border-bottom: 1px solid #3b3b3b; }

.modal__overview {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff; }

.modal-modal {
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: auto; }

.modal__info {
  padding: 40px;
  overflow: hidden;
  text-overflow: ellipsis; }

@media (max-width: 900px) {
  .modal__overview {
    width: 100%; } }

.modal-wrapper {
  width: 100%;
  height: 100%;
  background: rgba(0, 14, 70, 0.7);
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 99999; }

.modal-window {
  max-width: calc(100% - 20px);
  width: 1163px;
  height: 691px;
  border-radius: 8px;
  display: flex;
  padding: 2px;
  background: #fbfbfb; }

@media (max-width: 900px) {
  .modal-wrapper {
    padding: 10px; }
  .modal-window {
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    overflow: auto; } }

.catalog__item-image {
  display: flex;
  justify-content: center;
  align-content: center; }
  .catalog__item-image--load {
    height: 473px;
    align-items: center; }
    .catalog__item-image--load img {
      height: 45%;
      width: 45%; }

.catalog__item-header {
  max-height: 24px;
  padding: 13px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  z-index: 1; }

.catalog__header {
  background-color: #fbfbfb; }
  .catalog__header-button {
    width: 154px;
    height: 38px;
    padding: 4px 8px;
    opacity: 0; }

.catalog__photo {
  width: 288px;
  height: 308px;
  padding: 10px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-self: center; }
  .catalog__photo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; }

.catalog__item-title {
  font-size: 14px;
  padding: 15px 20px 20px;
  height: 52px;
  overflow: hidden;
  background-color: #ffffff;
  font-family: Gilroy-Regular;
  font-weight: 600;
  text-overflow: ellipsis;
  text-transform: uppercase; }
  .catalog__item-title span {
    width: 100%;
    overflow: hidden;
    color: #3b3b3b; }

.catalog__item-details {
  background-color: #ffffff;
  padding: 5px 0 0 20px;
  font-size: 15px; }
  .catalog__item-details span {
    color: #8c8c8c; }
    .catalog__item-details span:last-child {
      font-size: 16px;
      color: #58c3cc;
      text-decoration: underline; }

.catalog__values {
  background-color: #ffffff;
  padding: 30px 20px 20px;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  text-transform: uppercase;
  align-items: center; }

.catalog__value-list {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3); }
  .catalog__value-list--profit {
    margin: 0 20px; }
    .catalog__value-list--profit .catalog__value-item--number {
      color: #5fc5ce; }

.catalog__value-item--number {
  font-size: 20px;
  color: #616161; }

.catalog__value-item--text {
  font-size: 16px;
  color: #afafaf; }

.catalog__value-separator {
  background-color: #f0e4e4;
  height: 15px;
  width: 1px;
  margin: 0 -10px; }
  .catalog__value-separator--price {
    margin-right: 10px; }

.catalog__item {
  border: 2px solid #e4e5ec;
  text-align: justify;
  border-radius: 8px;
  width: calc(100% / 4 - 20px);
  margin: 0 10px 25px;
  display: flex;
  max-width: 368px;
  max-height: 473px;
  flex-flow: column nowrap;
  cursor: pointer;
  flex: 1 1 302px;
  overflow: hidden; }
  .catalog__item--active {
    border: 2px solid #61d4df; }
  .catalog__item:hover {
    border: 2px solid #61d4df; }
    .catalog__item:hover .catalog__checkbox-item--custom,
    .catalog__item:hover .catalog__header-button {
      opacity: 1; }

.catalog__checkbox-item {
  display: none; }
  .catalog__checkbox-item--custom {
    background-color: #fff;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1.2px solid rgba(112, 112, 112, 0.12);
    cursor: pointer;
    opacity: 0; }
    .catalog__checkbox-item--custom::after {
      content: "\2713";
      width: 100%;
      height: 100%;
      display: inline-block;
      text-align: center;
      transform: scale(0);
      background-color: #61d5df;
      color: #f3fcfd;
      border-radius: 50%; }
  .catalog__checkbox-item:checked + .catalog__checkbox-item--custom {
    opacity: 1; }
  .catalog__checkbox-item:checked + .catalog__checkbox-item--custom::after {
    transform: scale(1); }

@media (max-width: 900px) {
  .catalog__checkbox-item--custom {
    opacity: 1; } }
