.modal {
  &-value {
    width: 419px;
    height: 66px;
    padding: 9.3px 29px 8.3px 20px;
    border-radius: 7px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    border: 1.5px solid #fff;
    background: #fafafa;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    &__list {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      &--profit {
        & .modal-value__item--number {
          color: #5fc5ce;
        }
      }
    }
    &__item {
      &--number {
        font-size: 20px;
        color: #616161;
      }
      &--text {
        font-size: 16px;
        color: #afafaf;
      }
    }
    &__separator {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
      width: 1.5px;
      height: 28px;
      background: #fff;
      opacity: 1;
    }
  }
}
@media (max-width: 900px) {
  .modal {
    &-value {
      width: 100%;
    }
  }
}
