@import "./modalValue";
@import "./modalDisplayImage";
@import "./modalGallery";

.modal {
  &-view {
    width: 499px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fbfbfb;
    justify-content: space-between;
  }
}
@media (max-width: 900px) {
  .modal {
    &-view {
      width: 100%;
    }
    &__value {
      width: 100%;
    }
  }
}
