.modal {
  &-gallery {
    display: flex;
    height: 94px;
    width: 100%;
    list-style-type: none;
    &__item {
      display: flex;
      align-items: center;
      &:hover {
        border-radius: 4px;
        box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.08);
        background-color: #fff;
      }
      & img {
        height: 72px;
        width: 72px;
        object-fit: contain;
      }
    }
  }
}
