.modal {
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 335px;
    max-width: 335px;
    margin-top: 25px;
    & img {
      width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}
