@import "./dropdown/dropdown";
@import "./selectlist/selectlist";
@import "./range/range";

.sidebar {
  height: 100%;
  min-width: 257px;
  background-color: #ecedf5;
  margin-bottom: 20px;
  &-reset {
    padding: 0 13px 0 12px;
    &__button {
      height: 41px;
      width: 100%;
      display: block;
      background: #61d5df;
      color: #fff;
      text-align: center;
      border-radius: 4px;
      font-size: 13px;
      padding: 10px 0;
      cursor: pointer;
      text-transform: uppercase;
      outline: 0;
    }
  }

  &-back {
    margin: 25px 0;
    padding: 0 13px 0 12px;
    &__button {
      height: 41px;
      width: 100%;
      display: block;
      background: #49547d;
      color: #fff;
      text-align: center;
      border-radius: 4px;
      font-size: 13px;
      padding: 10px 0;
      cursor: pointer;
      text-transform: uppercase;
      outline: 0;
    }
  }
}
