.nav {
  &__header {
    &-selectIco {
      display: none;
      cursor: pointer;
    }
  }
}

@media (max-width: 1150px) {
  .nav {
    &__header {
      &-selectAll {
        display: none;
      }
      &-selectIco {
        display: inline-block;
        height: 33px;
        align-self: center;
      }
    }
  }
}

@media (max-width: 500px) {
  .nav {
    &__header {
      &-selectIco {
        width: 40px;
        height: 40px;
      }
    }
  }
}
