.nav {
  &__header {
    &-text {
      color: #29304b;
      font-size: 12px;
      margin: 2px;
      &--separator {
        width: 1px;
        height: 23px;
        opacity: 0.3;
        background-color: #979797;
      }
    }
  }
}
@media (max-width: 500px) {
  .nav {
    &__header {
      &-text {
        display: none;
      }
    }
  }
}
@media (max-width: 675px) {
  .nav {
    &__header {
      &-text {
        align-self: center;
      }
    }
  }
}
@media (max-width: 1150px) {
  .nav {
    &__header {
      &-text {
        &--number {
          display: none;
        }
        &--hide {
          display: none;
        }
        &--separator {
          display: none;
        }
      }
    }
  }
}
