@import "./navBarClearButton";
@import "./navBarFilterButton";
@import "./navBarLeftText";
@import "./navBarSelectedButton";

.nav {
  &__header {
    &-left {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      gap: 12px;
      height: 40px;
    }
  }
}
@media (max-width: 500px) {
  .nav {
    &__header {
      &-left {
        gap: 10px;
      }
    }
  }
}
@media (max-width: 675px) {
  .nav {
    &__header {
      &-left {
        align-items: unset;
      }
    }
  }
}
