.catalog {
  &__checkbox {
    &-item {
      display: none;
      &--custom {
        background-color: #fff;
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1.2px solid rgba(112, 112, 112, 0.12);
        cursor: pointer;
        opacity: 0;
        &::after {
          content: "\2713";
          width: 100%;
          height: 100%;
          display: inline-block;
          text-align: center;
          transform: scale(0);
          background-color: #61d5df;
          color: #f3fcfd;
          border-radius: 50%;
        }
      }
      &:checked + &--custom {
        opacity: 1;
      }
      &:checked + &--custom::after {
        transform: scale(1);
      }
    }
  }
}
@media (max-width: 900px) {
  .catalog {
    &__checkbox {
      &-item {
        &--custom {
          opacity: 1;
        }
      }
    }
  }
}
