.catalog__item {
  &-image {
    display: flex;
    justify-content: center;
    align-content: center;
    &--load {
      height: 473px;
      align-items: center;
      & img {
        height: 45%;
        width: 45%;
      }
    }
  }
}
