.nav {
  &__search {
    max-width: 480px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    &-form {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
    &-querry {
      padding: 0 16px;
      width: 100%;
      height: 100%;
      border: 1px solid #efeff1;
      border-bottom-left-radius: 8px;
      border-top-left-radius: 8px;
      outline: none;
      border-right: 0;
      &--show {
        display: inline-block !important;
      }
    }
    &-image {
      padding: 8px;
      background-color: white;
      cursor: pointer;
      border: 1px solid #efeff1;
      &--bar {
        border-left: 0;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
      }
      &--cross {
        border-left: 0;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
        max-height: 40px;
        max-width: 40px;
      }
      &--toggle {
        height: 40px;
        border-radius: 5px;
        display: none;
      }
    }
  }
}

@media (max-width: 675px) {
  .nav {
    &__search {
      width: 100%;
      &-image {
        background-color: unset;
      }
      &-querry {
        display: none;
      }
      &-image {
        &--bar {
          display: none;
        }
        &--toggle {
          display: inline-block;
        }
        &--cross {
          background-color: #ffffff;
          padding: 12px;
        }
      }
    }
  }
}
